/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

//Colors
:root {
  --bs-form-invalid-border-color: red;
  --bs-form-invalid-color: #ff5555;
  --bs-form-color: black; // Colore del testo nei form
  --bs-form-bg: white; // Colore di sfondo dei form   */

}

$input-border-color: gray;
$input-color: var(--bs-form-color);
$input-bg-color: var(--bs-form-bg);

$input-invalid-border-color: var(--bs-form-invalid-border-color);
$input-invalid-color: var(--bs-form-invalid-color);
$input-invalid-bg-color: #ffeeee;

$input-border-focus: orange;
$input-focus: var(--bs-form-color);
$input-bg-focus: #fff4e0;

$input-darken-border-focus: #F29D00;
$input-darken-focus: $input-focus;
$input-darken-bg-focus: $input-darken-border-focus;

$input-invalid-border-focus: var(--bs-form-invalid-border-color);
$input-invalid-focus: var(--bs-form-invalid-color);
$input-invalid-bg-focus: #ffcccc;

$input-placeholder-color: gray;
$input-disabled-bg-color: #dadada;
$input-disabled-opacity: 0.65;

//Colors
$black-color: black;
$gray-color: gray;
$gray-light-color: lighten($gray-color, 30%);
$gray-lighten-color: lighten($gray-color, 35%);
$gray-dark-color: darken($gray-color, 8%);
$gray-darken-color: darken($gray-color, 15%);
$white-color: white;
$orange-color: orange;
$orange-light-color: lighten($orange-color, 44%);
$orange-lighten-color: lighten($orange-color, 48%);
$red-color: red;
$red-light-1-color: lighten($red-color, 20%);
$red-light-2-color: lighten($red-color, 24%);
$red-lighten-1-color: lighten($red-color, 44%);
$red-lighten-2-color: lighten($red-color, 48%);

//Opacity
$disabled-opacity: 0.65;

//Input, Textarea, CheckBox, SwitchBox, RadioBox, Dropdown, DatePicker, TimePicker
$input-color: $black-color;
$input-background-color: $orange-lighten-color;

$input-background-focus-color: $orange-light-color;
$input-border-focus-color: $orange-color;

$input-background-error-color: $red-lighten-2-color;
$input-border-error-color: $red-light-2-color;

$input-background-error-focus-color: $red-lighten-1-color;
$input-border-error-focus-color: $red-light-1-color;

$input-background-disabled-color: $gray-lighten-color;

//Dropdown
$dropdown-button-color: $black-color;
$dropdown-button-color-disabled: $gray-darken-color;
$dropdown-input-background-color: $white-color;
$dropdown-input-border-color: $gray-color;
$dropdown-item-background-color: $gray-color;

//DatePicker, TimePicker
$date-picker-calendar-button-color: $white-color;
$date-picker-calendar-button-background-color: $gray-dark-color;
$date-picker-calendar-button-background-hover-color: $gray-darken-color;
$date-picker-calendar-button-background-active-color: $gray-darken-color;
$date-picker-calendar-color: $black-color;
$date-picker-calendar-year-month-color: $white-color;
$date-picker-calendar-year-month-background-color: $dropdown-item-background-color;
$date-picker-calendar-year-month-background-focus-error-color: $white-color;
$date-picker-calendar-weekdays-color: $orange-color;
$date-picker-calendar-weekdays-error-focus-color: $black-color;
$date-picker-calendar-item-color: $white-color;
$date-picker-calendar-item-background-color: $dropdown-item-background-color;
$date-picker-calendar-item-focused-background-color: $orange-color;
$date-picker-calendar-item-focused-border-color: $orange-color;
$date-picker-calendar-item-focused-muted-color: $gray-light-color;
$date-picker-calendar-item-today-color: $input-border-focus-color;
$date-picker-calendar-item-today-background-color: $input-background-focus-color;
$date-picker-calendar-item-today-border-color: $input-border-focus-color;
$date-picker-calendar-item-today-outline-color: $input-border-focus-color;
$date-picker-calendar-item-today-outline-focus-color: $gray-color;

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
}

//Text
.text-invalid {
  color: $input-invalid-color;
}

//Input, Textarea
input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
  color: $input-placeholder-color;
}

input.form-control,
textarea.form-control {
  border-color: $input-border-color;
}

input.form-control:focus,
textarea.form-control:focus {
  border-color: $input-border-focus;
  background-color: $input-bg-focus;
}

input.form-control.is-invalid,
textarea.form-control.is-invalid {
  //color: $input-invalid-color;
  background-color: $input-invalid-bg-color;
}

input.form-control.is-invalid:focus,
textarea.form-control.is-invalid:focus {
  background-color: $input-invalid-bg-focus;
}

input.form-control:disabled,
textarea.form-control:disabled {
  background-color: $input-disabled-bg-color;
  opacity: $input-disabled-opacity;
}

//CheckBox, SwitchBox, RadioBox
input.form-check-input {
  border-color: $input-border-color;
  background-color: $input-bg-color;
}

input.form-check-input:focus {
  border-color: $input-border-focus;
  background-color: $input-bg-focus;
}

input.form-check-input.is-invalid {
  border-color: $input-invalid-border-color;
  background-color: $input-invalid-bg-color;
}

input.form-check-input:checked {
  border-color: $input-border-focus;
  background-color: $input-border-focus;
}

input.form-check-input:checked:focus {
  border-color: $input-darken-border-focus;
  background-color: $input-darken-bg-focus;
}

input.form-check-input:checked.is-invalid {
  background-color: $input-invalid-bg-color;
}

input.form-check-input:focus.is-invalid {
  border-color: $input-invalid-border-focus;
  background-color: $input-invalid-bg-focus;
}

input.form-check-input:disabled {
  background-color: $input-disabled-bg-color;
}

input.form-check-input:disabled,
input.form-check-input:disabled~.form-check-label {
  opacity: $input-disabled-opacity;
}

//Dropdown
gdropdown {
  button.dropdown-toggle {
    border-color: $input-border-color !important;   
    background-color: $input-bg-color !important;
  }

  .dropdown-menu {
    border-color: $input-border-color !important;
    background-color: $input-bg-color !important;

    input.form-control {
      border-color: $input-border-color !important;
      background-color: $input-bg-color;
    }

    .dropdown-status {
      border-color: $input-border-color !important;
    }
  }

  .dropdown.focused button.dropdown-toggle {
    border-color: $input-border-focus !important;
    background-color: $input-bg-focus !important;
  }

  .dropdown.focused .dropdown-menu {
    border-color: $input-border-focus !important;
    background-color: $input-bg-focus !important;

    .dropdown-status {
      border-color: $input-border-focus !important;
    }
  }

  .is-invalid button.dropdown-toggle {
    border-color: $input-invalid-border-color !important;
    background-color: $input-invalid-bg-color !important;   
  }

  .is-invalid .dropdown-menu {
    border-color: $input-invalid-border-color !important;
    background-color: $input-invalid-bg-color !important;

    .dropdown-status {
      border-color: $input-invalid-border-color !important;
    }
  }

  .is-invalid.focused button.dropdown-toggle {
    border-color: $input-invalid-border-focus !important;
    background-color: $input-invalid-bg-focus !important;
  }  

  .is-invalid.focused .dropdown-menu {
    border-color: $input-invalid-border-focus !important;
    background-color: $input-invalid-bg-focus !important;

    .dropdown-status {
      border-color: $input-invalid-border-focus !important;
    }
  }

  button.dropdown-toggle:disabled {
    opacity: $input-disabled-opacity;
    // color: $dropdown-button-color-disabled;
    //background-color: $input-background-disabled-color !important; 
  }
}

//Date picker
app-date-picker {
  >label.form-label {
    margin-bottom: 0 !important;
  }

  input.focused {
    background-color: $input-background-focus-color;
    border-color: $input-border-focus-color !important;
  }

  &.ng-invalid.ng-dirty input.form-control {
    background-color: $input-background-error-color;
    border-color: $input-border-error-color;
  }

  &.ng-invalid.ng-dirty input.form-control.focused {
    background-color: $input-background-error-focus-color;
    border-color: $input-border-error-focus-color !important;
    box-shadow: none;
  }

  .btn-outline-secondary {
    color: $date-picker-calendar-button-color;
    background-color: $date-picker-calendar-button-background-color;

    &:hover {
      background-color: $date-picker-calendar-button-background-hover-color;
    }

    &:active {
      background-color: $date-picker-calendar-button-background-active-color !important;
    }

    &:disabled {
      color: $date-picker-calendar-button-color;
      background-color: $date-picker-calendar-button-background-hover-color;
    }
  }

  .dropdown-menu {
    color: $date-picker-calendar-color;

    &.show {
      background-color: $input-background-focus-color;
      border-color: $input-border-focus-color !important;
    }

    select.form-select {
      color: $date-picker-calendar-color;
      background-color: $input-background-color;
      border-color: $input-border-color !important;
      outline: none;
      box-shadow: none;

      option:checked {
        color: $date-picker-calendar-year-month-color;
        background-color: $date-picker-calendar-year-month-background-color !important;
      }
    }

    select.form-select+select.form-select {
      margin-left: 0.4rem;
    }

    button.btn {
      color: $gray-color !important;

      &:hover {
        color: $gray-dark-color !important;
      }

      &:focus {
        color: $gray-darken-color !important;
      }
    }

    .ngb-dp-header {
      background-color: $input-background-focus-color;
      padding-top: 0.4rem;
    }

    .ngb-dp-weekdays {
      border-bottom: 1px solid $input-border-focus-color;
      border-radius: 0;
      background-color: $input-background-focus-color;
      margin-bottom: 0.3rem;
    }

    .ngb-dp-weekday {
      color: $date-picker-calendar-weekdays-color;
      font-style: normal;
    }

    .text-white {
      color: $date-picker-calendar-item-color !important;
    }

    .bg-primary {
      background-color: $date-picker-calendar-item-background-color !important;
    }

    [ngbDatepickerDayView].active {
      color: $date-picker-calendar-item-color;
      background-color: $date-picker-calendar-item-background-color;
      border-color: $date-picker-calendar-item-background-color;
      outline: none;
    }

    .ngb-dp-today [ngbDatepickerDayView] {
      color: $date-picker-calendar-item-today-color;
      background-color: $date-picker-calendar-item-today-background-color;
      //border: 1px solid $date-picker-calendar-item-today-border-color;
      outline: $date-picker-calendar-item-today-outline-color solid 1px;
    }

    [ngbDatepickerDayView]:hover,
    [ngbDatepickerDayView]:focus,
    [ngbDatepickerDayView]:active {
      color: $date-picker-calendar-item-color !important;
      background-color: $date-picker-calendar-item-focused-background-color !important;
      border-color: $date-picker-calendar-item-focused-border-color !important;
      outline: none;
    }

    .ngb-dp-today [ngbDatepickerDayView]:hover,
    .ngb-dp-today [ngbDatepickerDayView]:focus,
    .ngb-dp-today [ngbDatepickerDayView]:active {
      outline: $date-picker-calendar-item-today-outline-focus-color solid 1px;
    }

    [ngbDatepickerDayView].text-muted:hover:not(.bg-primary) {
      color: $date-picker-calendar-item-focused-muted-color !important;
    }
  }

  &.ng-invalid.ng-dirty input.focused+.dropdown-menu.show {
    select.form-select {
      background-color: $date-picker-calendar-year-month-background-focus-error-color;
    }

    .ngb-dp-header {
      background-color: $input-background-error-focus-color;
    }

    .ngb-dp-weekdays {
      background-color: $input-background-error-focus-color;
      border-bottom: 1px solid $input-border-error-focus-color;
    }

    .ngb-dp-weekday {
      color: $date-picker-calendar-weekdays-error-focus-color;
    }

    background-color: $input-background-error-focus-color;
    border-color: $input-border-error-focus-color !important;
  }
}

//Time picker
app-time-picker {
  >label.form-label {
    margin-bottom: 0 !important;
  }

  input.focused {
    background-color: $input-background-focus-color;
    border-color: $input-border-focus-color !important;
  }

  &.ng-invalid.ng-dirty>.dropdown>.input-group>input.form-control {
    background-color: $input-background-error-color;
    border-color: $input-border-error-color;
  }

  &.ng-invalid.ng-dirty>.dropdown>.input-group>input.form-control.focused {
    background-color: $input-background-error-focus-color;
    border-color: $input-border-error-focus-color !important;
    box-shadow: none;
  }

  .btn-outline-secondary {
    color: $date-picker-calendar-button-color;
    background-color: $date-picker-calendar-button-background-color;

    &:hover {
      background-color: $date-picker-calendar-button-background-hover-color;
    }

    &:active {
      background-color: $date-picker-calendar-button-background-active-color !important;
    }

    &:disabled {
      color: $date-picker-calendar-button-color;
      background-color: $date-picker-calendar-button-background-hover-color;
    }
  }

  .dropdown-menu {
    color: $date-picker-calendar-color;

    &.show {
      background-color: $input-background-focus-color;
      border-color: $input-border-focus-color !important;
    }

    button.btn.btn-link {
      color: $gray-color !important;

      &:hover {
        color: $gray-dark-color !important;
      }

      &:focus {
        color: $gray-darken-color !important;
      }
    }

    .btn-outline-primary {
      color: $gray-dark-color;
      background-color: $input-background-color;
      border-color: $gray-dark-color !important;

      &:hover {
        color: $white-color;
        background-color: $gray-dark-color;
        border-color: $gray-dark-color !important;
      }

      &:focus {
        color: $white-color;
        background-color: $gray-darken-color;
        border-color: $gray-darken-color !important;
        box-shadow: none !important;
      }
    }
  }

  &.ng-invalid.ng-dirty .dropdown-menu.show.focused {
    background-color: $input-background-error-focus-color;
    border-color: $input-border-error-focus-color;
  }
}

//Buttons
.btn:disabled {
  opacity: $disabled-opacity;
  pointer-events: unset;
  cursor: not-allowed !important;
}

/* .btn-primary {
  color: $black-color;
  background-color: $orange-color;
  border-color: $orange-color;
}*/
.btn-secondary {
  color: $white-color;
  background-color: $gray-color;
  border-color: $gray-color !important;

  &:hover {
    background-color: $gray-dark-color;
    border-color: $gray-dark-color !important;
  }

  &:focus {
    background-color: $gray-darken-color;
    border-color: $gray-darken-color !important;
    box-shadow: none !important;
  }
}

.btn-outline-secondary {
  color: $gray-dark-color;
  border-color: $gray-dark-color !important;

  &:hover {
    color: $white-color;
    background-color: $gray-dark-color;
    border-color: $gray-dark-color !important;
  }

  &:focus {
    color: $white-color;
    background-color: $gray-darken-color;
    border-color: $gray-darken-color !important;
    box-shadow: none !important;
  }
}

.smaller {
  font-size: 0.7rem;
}