<div class="container">
  <div class="row mb-4">
    <div class="col">
      <!-- <div>{{ "hello" | translate : param }}</div>-->
      <div>{{ titleTranslated }}</div>
      <select
        [(ngModel)]="language"
        (change)="onChangeLanguage($any($event.target).value)"
      >
        <option value="en" selected>Inglese</option>
        <option value="it">Italiano</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul
        ngbNav
        #nav="ngbNav"
        class="nav-tabs"
        [(activeId)]="selectedTab"
        [destroyOnHide]="false"
      >
        <li [ngbNavItem]="'tabInput'">
          <button ngbNavLink>Input</button>
          <ng-template ngbNavContent>
            <div class="container pt-5">
              <form [formGroup]="formInput" (submit)="onSubmitInput()">
                <div class="row">
                  <div class="col-4">
                    <h3>Component Input</h3>
                    <ginput
                      label="{{ txtLabel.text | translate }}"
                      placeholder="{{ txtPlaceholder.text | translate }}"
                      [type]="
                        $any(
                          ddType.selectedItems.length > 0
                            ? ddType.selectedItems[0].id
                            : 'text'
                        )
                      "
                      [text]="txtText.text"
                      [textualOptions]="{
                        maxLength: $any(txtMaxLength.text),
                        toUpperCase: chkToUpperCase.checked,
                        showLengthProgressBar: chkShowLengthProgressBar.checked,
                        showLengthProgressNumeric:
                          chkShowLengthProgressNumeric.checked
                      }"
                      [decimalOptions]="decimalOptions"
                      [feedback]="txtFeedback.text"
                      formControlName="input"
                      #input
                    ></ginput>
                    <button class="btn btn-primary">Submit</button>
                    <div class="mt-4">
                      <app-info [form]="formInput"></app-info>
                    </div>
                  </div>
                  <div class="offset-2 col-6">
                    <h3>Options</h3>
                    <div class="mb-3">
                      <ginput
                        label="Label key"
                        formControlName="label"
                        #txtLabel
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Placeholder key"
                        formControlName="placeholder"
                        #txtPlaceholder
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <gdropdown
                        label="Type"
                        formControlName="type"
                        [items]="inputTypes"
                        #ddType
                      ></gdropdown>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="MaxLength"
                        type="numeric"
                        formControlName="maxLength"
                        #txtMaxLength
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Text"
                        formControlName="text"
                        #txtText
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Feedback"
                        formControlName="feedback"
                        #txtFeedback
                      ></ginput>
                    </div>
                    <gcheck-box
                      label="Disabled"
                      formControlName="disabled"
                      #chkDisabled
                    ></gcheck-box>
                    <gcheck-box
                      label="ToUpperCase"
                      formControlName="toUpperCase"
                      #chkToUpperCase
                    ></gcheck-box>
                    <gcheck-box
                      label="ShowLengthProgressBar (works together maxLength property)"
                      formControlName="showLengthProgressBar"
                      #chkShowLengthProgressBar
                    ></gcheck-box>
                    <gcheck-box
                      label="ShowLengthProgressNumeric (works together maxLength property)"
                      formControlName="showLengthProgressNumeric"
                      #chkShowLengthProgressNumeric
                    ></gcheck-box>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'tabTextArea'">
          <button ngbNavLink>TextArea</button>
          <ng-template ngbNavContent>
            <div class="container pt-5">
              <form [formGroup]="formTextArea" (submit)="onSubmitTextArea()">
                <div class="row">
                  <div class="col-4">
                    <h3>Component TextArea</h3>
                    <gtext-area
                      label="{{ txtLabel.text | translate }}"
                      placeholder="{{ txtPlaceholder.text | translate }}"
                      [text]="txtText.text"
                      [textualOptions]="{
                        maxLength: $any(txtMaxLength.text),
                        toUpperCase: chkToUpperCase.checked,
                        showLengthProgressBar: chkShowLengthProgressBar.checked,
                        showLengthProgressNumeric:
                          chkShowLengthProgressNumeric.checked
                      }"
                      [feedback]="txtFeedback.text"
                      formControlName="textArea"
                      #textArea
                    ></gtext-area>
                    <button class="btn btn-primary">Submit</button>
                    <div class="mt-4">
                      <app-info [form]="formTextArea"></app-info>
                    </div>
                  </div>
                  <div class="offset-2 col-6">
                    <h3>Options</h3>
                    <div class="mb-3">
                      <ginput
                        label="Label key"
                        formControlName="label"
                        #txtLabel
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Placeholder key"
                        formControlName="placeholder"
                        #txtPlaceholder
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Text"
                        formControlName="text"
                        #txtText
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="MaxLength"
                        type="numeric"
                        formControlName="maxLength"
                        #txtMaxLength
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Feedback"
                        formControlName="feedback"
                        #txtFeedback
                      ></ginput>
                    </div>
                    <gcheck-box
                      label="Disabled"
                      formControlName="disabled"
                      #chkDisabled
                    ></gcheck-box>
                    <gcheck-box
                      label="ToUpperCase"
                      formControlName="toUpperCase"
                      #chkToUpperCase
                    ></gcheck-box>
                    <gcheck-box
                      label="ShowLengthProgressBar (works together maxLength property)"
                      formControlName="showLengthProgressBar"
                      #chkShowLengthProgressBar
                    ></gcheck-box>
                    <gcheck-box
                      label="ShowLengthProgressNumeric (works together maxLength property)"
                      formControlName="showLengthProgressNumeric"
                      #chkShowLengthProgressNumeric
                    ></gcheck-box>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'tabCheckBox'">
          <button ngbNavLink>CheckBox</button>
          <ng-template ngbNavContent>
            <div class="container pt-5">
              <form [formGroup]="formCheckBox" (submit)="onSubmitCheckBox()">
                <div class="row">
                  <div class="col-4">
                    <h3>Component CheckBox</h3>
                    <gcheck-box
                      label="{{ txtCheckBoxLabel.text | translate }}"
                      [type]="
                        $any(
                          ddType.selectedItems.length > 0
                            ? ddType.selectedItems[0].id
                            : 'default'
                        )
                      "
                      [checked]="chkChecked.checked"
                      formControlName="checkBox"
                      #checkBox
                    ></gcheck-box>
                    <button class="btn btn-primary">Submit</button>
                    <div class="mt-4">
                      <app-info [form]="formCheckBox"></app-info>
                    </div>
                  </div>
                  <div class="offset-2 col-6">
                    <h3>Options</h3>
                    <div class="mb-3">
                      <ginput
                        label="Label key"
                        formControlName="label"
                        #txtCheckBoxLabel
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <gdropdown
                        label="Type"
                        formControlName="type"
                        [items]="checkBoxTypes"
                        #ddType
                      ></gdropdown>
                    </div>
                    <gcheck-box
                      label="Checked"
                      formControlName="checked"
                      #chkChecked
                    ></gcheck-box>
                    <gcheck-box
                      label="Disabled"
                      formControlName="disabled"
                      #chkDisabled
                    ></gcheck-box>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'tabRadioBox'">
          <button ngbNavLink>RadioBox</button>
          <ng-template ngbNavContent>
            <div class="container pt-5">
              <form [formGroup]="formRadioBox" (ngSubmit)="onSubmitRadioBox()">
                <div class="row">
                  <div class="col-4">
                    <h3>Component RadioBox</h3>
                    <gradio-box
                      [labels]="[
                        txtLabel1.text | translate,
                        txtLabel2.text | translate
                      ]"
                      [values]="[txtValue1.text, txtValue2.text]"
                      [selectedValue]="
                        chkChecked1.checked
                          ? txtValue1.text
                          : chkChecked2.checked
                          ? txtValue2.text
                          : undefined
                      "
                      [disabledValues]="[
                        chkDisabled1.checked ? txtValue1.text : '',
                        chkDisabled2.checked ? txtValue2.text : ''
                      ]"
                      formControlName="radioBox"
                      #radioBox
                    ></gradio-box>
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                    <div class="mt-4">
                      <app-info [form]="formRadioBox"></app-info>
                    </div>
                  </div>
                  <div class="offset-2 col-6">
                    <h3>Options</h3>
                    <div class="mb-3">
                      <ginput
                        label="Label key 1"
                        formControlName="label1"
                        #txtLabel1
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Label key 2"
                        formControlName="label2"
                        #txtLabel2
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Value 1"
                        formControlName="value1"
                        #txtValue1
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Value 2"
                        formControlName="value2"
                        #txtValue2
                      ></ginput>
                    </div>
                    <gcheck-box
                      label="Disabled 1"
                      formControlName="disabled1"
                      #chkDisabled1
                    ></gcheck-box>
                    <gcheck-box
                      label="Disabled 2"
                      formControlName="disabled2"
                      #chkDisabled2
                    ></gcheck-box>
                    <gcheck-box
                      label="Checked 1"
                      formControlName="checked1"
                      #chkChecked1
                    ></gcheck-box>
                    <gcheck-box
                      label="Checked 2"
                      formControlName="checked2"
                      #chkChecked2
                    ></gcheck-box>
                    <button
                      type="button"
                      (click)="formRadioBox.disable()"
                      class="btn btn-primary"
                    >
                      Disabilita tutto
                    </button>
                    <button
                      type="button"
                      (click)="formRadioBox.enable()"
                      class="btn btn-primary"
                    >
                      Abilita tutto
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'tabDropdown'">
          <button ngbNavLink>Dropdown</button>
          <ng-template ngbNavContent>
            <div class="container pt-5">
              <form [formGroup]="formDropdown" (submit)="onSubmitDropdown()">
                <div class="row">
                  <div class="col-6">
                    <h3>Component Dropdown</h3>
                    <div style="height: 550px">
                      <gdropdown
                        label="{{ txtDropdownLabel.text | translate }}"
                        placeholderToggle="{{
                          txtDropdownPlaceholderToggle.text | translate
                        }}"
                        placeholderSearch="{{
                          txtDropdownPlaceholderSearch.text | translate
                        }}"
                        formControlName="dropdown"
                        [feedback]="txtFeedback.text"
                        [showSearch]="chkShowSearch.checked"
                        [status]="{
                          show: chkStatusShow.checked,
                          showCount: chkStatusCount.checked,
                          showFiltered: chkStatusFiltered.checked,
                          showSelected: chkStatusSelected.checked,
                          showJumpToFirst: chkStatusJumpToFirst.checked,
                          showSelectAll: chkStatusSelectAll.checked,
                          showCancel: chkStatusCancel.checked
                        }"
                        [items]="dropdownNames"
                        #dropdown
                      ></gdropdown>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                    <div class="mt-4">
                      <app-info [form]="formDropdown"></app-info>
                    </div>
                  </div>
                  <div class="offset-0 col-6">
                    <h3>Options</h3>
                    <div class="mb-3">
                      <ginput
                        label="Label key"
                        formControlName="label"
                        #txtDropdownLabel
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Placeholder toggle key"
                        formControlName="placeholderToggle"
                        #txtDropdownPlaceholderToggle
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Placeholder search key"
                        formControlName="placeholderSearch"
                        #txtDropdownPlaceholderSearch
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <gdropdown
                        label="{{ 'Type' | translate }}"
                        formControlName="type"
                        [items]="dropdownTypes"
                        (ngModelChange)="
                          dropdown.type = changeDropdownType(
                            dropdownType.selectedItems[0].id
                          )
                        "
                        #dropdownType
                      ></gdropdown>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Feedback"
                        formControlName="feedback"
                        #txtFeedback
                      ></ginput>
                    </div>
                    <gcheck-box
                      label="Disabled"
                      formControlName="disabled"
                      #chkDisabled
                    ></gcheck-box>
                    <gcheck-box
                      label="Show Search"
                      formControlName="showSearch"
                      #chkShowSearch
                    ></gcheck-box>
                    <hr />
                    <br />
                    <h5>Status Bar</h5>
                    <gcheck-box
                      label="Show"
                      formControlName="statusShow"
                      #chkStatusShow
                    ></gcheck-box>
                    <gcheck-box
                      label="Count"
                      formControlName="statusCount"
                      #chkStatusCount
                    ></gcheck-box>
                    <gcheck-box
                      label="Filtered (works together statusShow and statusSearch properties)"
                      formControlName="statusFiltered"
                      #chkStatusFiltered
                    ></gcheck-box>
                    <gcheck-box
                      label="Selected (works together statusShow and type=Multi select properties)"
                      formControlName="statusSelected"
                      #chkStatusSelected
                    ></gcheck-box>
                    <gcheck-box
                      label="Jump To First"
                      formControlName="statusJumpToFirst"
                      #chkStatusJumpToFirst
                    ></gcheck-box>
                    <gcheck-box
                      label="Select All (works together statusShow and type=Multi select properties)"
                      formControlName="statusSelectAll"
                      #chkStatusSelectAll
                    ></gcheck-box>
                    <gcheck-box
                      label="Cancel"
                      formControlName="statusCancel"
                      #chkStatusCancel
                    ></gcheck-box>
                    <hr />
                    <br />
                    <h5>Localization</h5>
                    Use gDropdown-i18n.service
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'tabDatePicker'">
          <button ngbNavLink>DatePicker</button>
          <ng-template ngbNavContent>
            <div class="container pt-5">
              <form [formGroup]="formDatePicker">
                <div class="row">
                  <div class="col-4">
                    <h3>Component DatePicker</h3>
                    <gdate-picker
                      label="{{ txtDatePickerLabel.text | translate }}"
                      placeholder="{{
                        txtDatePickerPlaceholder.text | translate
                      }}"
                      [feedback]="txtFeedback.text"
                      [disabled]="chkDisabled.checked"
                      [open]="chkOpen.checked"
                      formControlName="datePicker"
                      #datePicker
                    ></gdate-picker>
                    <div class="mt-4">
                      <app-info [form]="formDatePicker"></app-info>
                    </div>
                  </div>
                  <div class="offset-2 col-6">
                    <h3>Options</h3>
                    <div class="mb-3">
                      <ginput
                        label="Label key"
                        formControlName="label"
                        #txtDatePickerLabel
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Placeholder key"
                        formControlName="placeholder"
                        #txtDatePickerPlaceholder
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Formatted date"
                        formControlName="text"
                        #txtText
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Feedback"
                        formControlName="feedback"
                        #txtFeedback
                      ></ginput>
                    </div>
                    <gcheck-box
                      label="Disabled"
                      formControlName="disabled"
                      #chkDisabled
                    ></gcheck-box>
                    <gcheck-box
                      label="Open"
                      formControlName="open"
                      #chkOpen
                    ></gcheck-box>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'tabTimePicker'">
          <button ngbNavLink>TimePicker</button>
          <ng-template ngbNavContent>
            <div class="container pt-5">
              <form [formGroup]="formTimePicker">
                <div class="row">
                  <div class="col-4">
                    <h3>Component TimePicker</h3>
                    <gtime-picker
                      label="{{ txtTimePickerLabel.text | translate }}"
                      placeholder="{{
                        txtTimePickerPlaceholder.text | translate
                      }}"
                      [formattedTime]="txtText.text"
                      [disabled]="chkDisabled.checked"
                      [feedback]="txtFeedback.text"
                      [open]="chkOpen.checked"
                      [showSecond]="chkShowSecond.checked"
                      [showMeridian]="chkShowMeridian.checked"
                      formControlName="timePicker"
                      #timePicker
                    ></gtime-picker>
                    <div class="mt-4">
                      <app-info [form]="formTimePicker"></app-info>
                    </div>
                  </div>
                  <div class="offset-2 col-6">
                    <h3>Options</h3>
                    <div class="mb-3">
                      <ginput
                        label="Label key"
                        formControlName="label"
                        #txtTimePickerLabel
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Placeholder key"
                        formControlName="placeholder"
                        #txtTimePickerPlaceholder
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Formatted time"
                        formControlName="text"
                        #txtText
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Feedback"
                        formControlName="feedback"
                        #txtFeedback
                      ></ginput>
                    </div>
                    <gcheck-box
                      label="Disabled"
                      formControlName="disabled"
                      #chkDisabled
                    ></gcheck-box>
                    <gcheck-box
                      label="Open"
                      formControlName="open"
                      #chkOpen
                    ></gcheck-box>
                    <gcheck-box
                      label="Show second"
                      formControlName="showSecond"
                      #chkShowSecond
                    ></gcheck-box>
                    <gcheck-box
                      label="Show meridian"
                      formControlName="showMeridian"
                      #chkShowMeridian
                    ></gcheck-box>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'tabTypeahead'">
          <button ngbNavLink>Typeahead</button>
          <ng-template #productItem let-item="result" let-term="term">
            <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="me-1" style="width: 16px" /> -->
            <ngb-highlight [result]="item.description" [term]="term"></ngb-highlight>            
          </ng-template>
          <ng-template ngbNavContent>
            <div class="container pt-5">
              <form [formGroup]="formTypeahead" (submit)="onSubmitTypeahead()">
                <div class="row">
                  <div class="col-4">
                    <h3>Component TypeAHead</h3>
                    <gtype-ahead
                      label="{{ txtLabel.text | translate }}"
                      placeholder="{{ txtPlaceholder.text | translate }}"
                      [text]="txtText.text"
                      [feedback]="txtFeedback.text"
                      formControlName="typeahead"
                      [search]="typeaheadSearch"                      
                      [itemTemplate]="productItem"
                      [inputFormatter]="typeaheadInputFormatter"
                      #typeahead
                    ></gtype-ahead>
                    <button class="btn btn-primary">Submit</button>
                    <div class="mt-4">
                      <app-info [form]="formTypeahead"></app-info>
                    </div>
                  </div>
                  <div class="offset-2 col-6">
                    <h3>Options</h3>
                    <div class="mb-3">
                      <ginput
                        label="Label key"
                        formControlName="label"
                        #txtLabel
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Placeholder key"
                        formControlName="placeholder"
                        #txtPlaceholder
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Text"
                        formControlName="text"
                        #txtText
                      ></ginput>
                    </div>
                    <div class="mb-3">
                      <ginput
                        label="Feedback"
                        formControlName="feedback"
                        #txtFeedback
                      ></ginput>
                    </div>
                    <gcheck-box
                      label="Disabled"
                      formControlName="disabled"
                      #chkDisabled
                    ></gcheck-box>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'tabUpload'">
          <button ngbNavLink>Upload</button>
          <ng-template ngbNavContent>
            <div class="container pt-5">
              <gupload address="https://localhost:7133/api/helpers/upload"></gupload>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'tabGrid'">
          <button ngbNavLink>Grid</button>
          <ng-template ngbNavContent>
            <div class="container pt-5">
              <!-- <div style="width: 800px"> -->
              <table-products></table-products>
              <!--  </div> -->
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
<div *ngIf="spinnerService.isLoading | async">
  <gspinner></gspinner>
</div>
