.column-header {
    user-select: none;
}

.column-header[sortable] {
    cursor: pointer;
}

.column-header[sortable] {
    content: "";
    // display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHRpdGxlPmlvbmljb25zLXY1LXA8L3RpdGxlPjxsaW5lIHgxPSI5NiIgeTE9IjMwNCIgeDI9IjQxNiIgeTI9IjMwNCIgc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLXdpZHRoOjMycHgiLz48bGluZSB4MT0iOTYiIHkxPSIyMDgiIHgyPSI0MTYiIHkyPSIyMDgiIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiMwMDA7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS13aWR0aDozMnB4Ii8+PGxpbmUgeDE9Ijk2IiB5MT0iMTEyIiB4Mj0iNDE2IiB5Mj0iMTEyIiBzdHlsZT0iZmlsbDpub25lO3N0cm9rZTojMDAwO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6MzJweCIvPjxsaW5lIHgxPSI5NiIgeTE9IjQwMCIgeDI9IjQxNiIgeTI9IjQwMCIgc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLXdpZHRoOjMycHgiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-x: right;
    // width: 22px;
    height: 22px;

}

.column-header[sortable][direction="desc"] {
    //content: "";
    //display: block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktc29ydC11cCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNMy41IDEyLjVhLjUuNSAwIDAgMS0xIDBWMy43MDdMMS4zNTQgNC44NTRhLjUuNSAwIDEgMS0uNzA4LS43MDhsMi0xLjk5OS4wMDctLjAwN2EuNDk4LjQ5OCAwIDAgMSAuNy4wMDZsMiAyYS41LjUgMCAxIDEtLjcwNy43MDhMMy41IDMuNzA3VjEyLjV6bTMuNS05YS41LjUgMCAwIDEgLjUtLjVoN2EuNS41IDAgMCAxIDAgMWgtN2EuNS41IDAgMCAxLS41LS41ek03LjUgNmEuNS41IDAgMCAwIDAgMWg1YS41LjUgMCAwIDAgMC0xaC01em0wIDNhLjUuNSAwIDAgMCAwIDFoM2EuNS41IDAgMCAwIDAtMWgtM3ptMCAzYS41LjUgMCAwIDAgMCAxaDFhLjUuNSAwIDAgMCAwLTFoLTF6Ii8+Cjwvc3ZnPg==) no-repeat;

    background-size: 22px;
    background-position-x: right;
    //width: 22px;
    height: 22px;
    //float: right;    
}

.column-header[sortable][direction="asc"] {
    // content: "";
    //display: block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktc29ydC1kb3duLWFsdCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNMy41IDMuNWEuNS41IDAgMCAwLTEgMHY4Ljc5M2wtMS4xNDYtMS4xNDdhLjUuNSAwIDAgMC0uNzA4LjcwOGwyIDEuOTk5LjAwNy4wMDdhLjQ5Ny40OTcgMCAwIDAgLjctLjAwNmwyLTJhLjUuNSAwIDAgMC0uNzA3LS43MDhMMy41IDEyLjI5M1YzLjV6bTQgLjVhLjUuNSAwIDAgMSAwLTFoMWEuNS41IDAgMCAxIDAgMWgtMXptMCAzYS41LjUgMCAwIDEgMC0xaDNhLjUuNSAwIDAgMSAwIDFoLTN6bTAgM2EuNS41IDAgMCAxIDAtMWg1YS41LjUgMCAwIDEgMCAxaC01ek03IDEyLjVhLjUuNSAwIDAgMCAuNS41aDdhLjUuNSAwIDAgMCAwLTFoLTdhLjUuNSAwIDAgMC0uNS41eiIvPgo8L3N2Zz4=) no-repeat;

    background-size: 22px;
    background-position-x: right;
    //width: 22px;
    height: 22px;
    //float: right;    
}

/* .column-header[sortable][direction="desc"] {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}  */


//.tableFixHead thead th { position: sticky; top: 0px; z-index: 1; }
/* Track */
/* ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    margin-top: 20px !important; 
} */


/* Just common table stuff. Really. */
/* table {
    border-collapse: collapse;
    width: 100%;
}  */

/* th,
td {
    padding: 8px 16px;
} */

/* td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}  */

//th     { background:#444; color: white; }  